<p>Here is <%=@user.username%>'s shoe collection:</p>

<% @user.shoes.each do |shoe| %>
  <p><a href="/shoes/<%=shoe.id%>"><%=shoe.name%></a> | <%=shoe.manufacturer%> | $<%=shoe.cost%> <br>
    <%=shoe.description%> - <%=shoe.color%><br>
  </p>
<% end %>
