
<a href="/shoes/new">Add a shoe to the Collection</a>

<% @shoes.each do |shoe| %>
  <p><a href="/shoes/<%=shoe.id%>"><%=shoe.name%></a> | <%=shoe.manufacturer%> | $<%=shoe.cost%> <br>
    <%=shoe.description%> - <%=shoe.color%>
  </p>
<% end %>


<a href="/logout">Logout</a>
