
<a href="/shoes/new">Add a shoe to the Collection</a>

<% @shoes.each do |shoe| %>
  <% poster = User.find_by_id(shoe.user_id) %>
  <p><a href="/shoes/<%=shoe.id%>"><%=shoe.name%></a> | <%=shoe.manufacturer%> | $<%=shoe.cost%> <br>
    <%=shoe.description%> - <%=shoe.color%><br>
    Posted by: <a href="/users/<%=poster.slug%>"><%=poster.username%></a>
  </p>
<% end %>

<a href="/shoes">All shoes</a><br>

<a href="/logout">Logout</a>
