<h3></h3>

<p><%=@shoe.name %> | <%=@shoe.manufacturer %> | $<%=@shoe.cost %><br>
  <%=@shoe.description %> - <%=@shoe.color %><br>
  Posted by <a href="/users/<%=@poster.slug%>"><%=@poster.username%></a>
</p>

<%if current_user.id == @poster.id%>
  <a href="/shoes/<%=@shoe.id%>/edit">Edit Shoe Info</a><br><br>

  <form action="/shoes/<%=@shoe.id%>/delete" method="post">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Shoe">
  </form>
  <br>

  <a href="/shoes/new">Add another shoe to the Collection</a><br><br>
<% end %>

<a href="/shoes">All shoes</a><br>
<a href="/users/<%=current_user.slug%>">My shoes</a><br>
<a href="/logout">Logout</a>
